<p>
<%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>
<p>
<%= link_to 'English', root_path(locale: 'en') %>
</p>
<h1>Seja bem-vindo</h1>
<p>O idioma da aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p><%= l(Date.today) %></p>
<%= t('hello') %>
<%= render 'menu' %>