<p id="notice"><%= notice %></p>

<form>
 
  <div class="form-group">
    <%= label_tag nil, @coin.description %>
    <%= text_field_tag nil, @coin.description, class:"form-control", placeholder:"Bitcoin" %>
  </div>

  <div class="form-group">                                                                             
    <%= label_tag nil, @coin.acronym %>
    <%= text_field_tag nil, @coin.acronym,  class:"form-control", placeholder:"BTC" %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.url_image %>
    <%= text_field nil, @coin.url_image, class:"form-control", %>
  </div>
  
  <div class="form-group">
    <%= label_tag nil, @coin.mining_type.description %>
    <%= text_field nil, @coin.mining_type.description, class:"form-control" %>
  </div>
  
</form>

<%= link_to t('links.edit') %>
<%= link_to Back %>
links













<p>
  <strong>Description:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Url image:</strong>
  <%= @coin.url_image %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
